# See http://help.github.com/ignore-files/ for more about ignoring files.

.github
.vs
.git
./HookUpApi/appsettings.json
./Entities/bin
./Entities/obj
./HookUpApi/bin
./HookUpApi/obj
./HookUpBLL/bin
./HookUpBLL/obj
./HookUpDAL/bin
./HookUpDAL/obj